{% block html_head_container %}

    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

<body class="{{ body_class }}" data-template="base.twig">
<a class="skip-link screen-reader-text hidden" href="#content">{{ _e( 'Skip to content') }}</a>
<header class="header">
    {% include 'header.twig' %}
    {% block header %}

    {% endblock %}
</header>
{% block footer %}
    <footer id="footer">
        {% include 'footer.twig' %}
    </footer>
    {{ function('wp_footer') }}
{% endblock %}
</body>
</html>
