<div class="flex h-20 mt-2 shadow-lg">
    <div class="w-3/12 ">
        <img class="ml-2 mr-2" src="{{ theme.link }}/dist/images/main_logo_com.svg" alt="Sunrise Africa Relief"
             width="80px">
    </div>
    <nav id="nav-main" class="nav-main" role="navigation"><!-- #nav -->
        {% include "menu.twig" with {'items': menu.get_items} %}
    </nav><!-- #nav -->
</div>
